* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffe3cf;
  color: #3b3a3a;
  height: 100%;
  font-family: 'Zen Maru Gothic', sans-serif;
}

main {
  width: 460px;
  padding: 0 20px;
  margin: 0 auto;
  height: 100vh;
  background-color: #fafafa;
}
@media screen and (max-width: 600px) {
  main {
    width: 85%;
    margin: 20px auto;
    border-radius: 20px;
  }
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-conetnt: center;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}

.button-area {
  width: 100%;
}

.l-container {
  text-align: center;
}

.l-word-area {
  margin: 0 auto 30px;
  min-height: 25px;
}

.l-bottom {
  margin: 80px auto 0;
}

.l-bottom__link {
  display: flex;
  justify-content: center;
  margin: 20px auto 0;
}

.l-bottom__link a {
  color: #3b3a3a;
  font-size: 13px;
  transition: all .3s;
}
.l-bottom__link a:hover {
  opacity: .7;
}
.l-bottom__link a:first-of-type {
  margin-right: 10px;
}

.c-header__title {
  text-align: center;
  margin: 0 auto 5px;
  width: 100%;
  padding: 40px 0 0;
  font-size: 36px;
}
.c-header__text {
  margin: 0 auto 80px;
  width: 100%;
  text-align: center;
  font-size: 13px;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 600px) {
  .c-header__text {
    margin: 0 auto 30px;
    font-size: 12px;
  }
}

.c-image {
  text-align: center;
  margin: 0 auto 60px;
  display: block;
}
@media screen and (max-width: 600px) {
  .c-image {
    margin: 0 auto 30px;
    width: 100px;
    height: 128px;
  }
}

.c-text__your-name {
  display: inline;
  margin: 0 5px 0 0;
}
@media screen and (max-width: 600px) {
  .c-text__your-name {
    margin: 0 auto;
    padding: 0 10px;
    font-size: 15px;
  }
}

.c-text__home-word {
  display: inline;
  font-size: 16px;
  letter-spacing: 0.05em;
}

.c-input-area {
  width: 300px;
  height: 42px;
  margin: 0 auto 30px;
  padding: 2px 20px;
  box-sizing: border-box;
  border-radius: 25px;
  border: 2px solid #ccc;
}
input::placeholder {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 13px;
  color: #ccc;
}

.c-button {
  font-family: 'Zen Maru Gothic', sans-serif;
  border: none;
  width: 240px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  font-size: 14px;
  color: #fff;
  background-color: #fcc9a4;
  transition: all .3s;
}

.c-button:hover {
  background-color: #f7b586;
}

.c-text__copyright {
  font-size: 12px;
  letter-spacing: 0.05em;
  width: 100%;
  text-align: center;
  display: block;
  margin: 5px auto 0;
}

.c-text-reset {
  color: #4490d4;
  font-size: 13px;
  text-decoration: underline;
  margin: 0 auto;
  transition: all .3s;
  cursor: pointer;
}

.c-text-reset:hover {
  opacity: .7;
}

.p-privacy__main {
  height: 100%;
  padding-bottom: 40px;
}
.p-privacy__main h2 {
  margin: 0 auto 20px;
  font-size: 21px;
}
.p-privacy__main h3 {
  margin: 0 auto 10px;
  font-size: 18px;
}
.p-privacy__main .l-container p {
  margin: 0 auto 30px;
  text-align: left;
  font-size: 14px;
  line-height: 1.7;
}
.p-privacy__main .l-container p:last-of-type {
  margin-bottom: 0;
}
.p-privacy__main ol {
  padding: 0 0 0 20px;
  margin: 0 auto 30px;
  text-align: left;
}